///////////////////////////  COLORS VARIABLES ////////////////////

$white-color: #ffffff;
$black-color: #000000;
$gray-color: #333333;
$light-gray-color: #0c2026;
$silver-color: #bcbcbc;
$dark-gray: #b0b0b0;
$whisper-color: #eaeaea;
$pink-swan: #b8b8b8;


///////////////////// INDEX PAGE /////////////////////

$body-background:#e0e0e0 !important;
$index-box-shadow-hover: 0 4px 22px -1px #9f9f9f;
$index-box-shadow: 0 0 4px 0 #9f9f9f;

//////////////////// NAAT KHUWAN NAME ///////////////

