body{
  background: $body-background;

  .middle{
    h1{
      font-size: 45px;
      color: $light-gray-color;
      font-family: myFirstFont !important;
      margin: 0 0 25px;
      font-weight: 700;
    }
    .name-box{
      background: $white-color;
      padding: 0 90px;
      border: 1px solid $silver-color;
      margin-bottom: 50px;
      box-shadow: 0 5px 13px $dark-gray;
      ul{
        padding: 0;
        li{
          list-style: none;
          border-bottom: 1px solid $whisper-color;
          color: $gray-color;
          font-size: 25px;
          padding: 26px 0;

          a{
            @include anchor;
            width: 100%;
            display: inline-block;
            //padding: 40px 0;
            text-align: right !important;
          }
        }
        li:last-child{
          border: none !important;
        }
      }
    }
  }
}
//.circle-line{
//  display: inline-block;
//  width: 20%;
//  margin: 0 auto;
//  border-bottom: 1px solid #000000;
//  position: relative;
//  top: -16px;
//    &:before{
//      content: "";
//      border-radius: 50%;
//      background: #000;
//      border: 4px solid #e0e0e0;
//      position: relative;
//      padding: 0 8px;
//      //left: 45%;
//      top: 10px;
//    }
//}