.naat-template {
  background: url("../images/naat-template.png") no-repeat;
  height: 375px;
  width: 100%;
  margin-bottom: 45px; }

.middle a {
  color: #333; }
  .middle a:hover, .middle a:focus {
    text-decoration: none !important; }
  .middle a .naat-boxes {
    border: 1px solid #b8b8b8;
    border-radius: 2px;
    background: #ffffff;
    margin: 15px 0;
    transition: 0.5s ease;
    box-shadow: 0 0 4px 0 #9f9f9f; }
    .middle a .naat-boxes:hover {
      box-shadow: 0 4px 22px -1px #9f9f9f;
      transition: 0.5s ease; }
    .middle a .naat-boxes h4 {
      width: 100%;
      font-size: 28px;
      color: #333333;
      font-family: myFirstFont !important; }
.middle button {
  background: #0c2026;
  color: #ffffff;
  width: 671px;
  height: 81px;
  font-size: 30px;
  margin: 11px 0 70px;
  text-transform: uppercase;
  box-shadow: 0 2px 5px #000000; }
  .middle button:hover, .middle button:focus, .middle button:active {
    background: #0c2026;
    color: #ffffff; }

footer {
  background: #0c2026;
  color: #ffffff; }
  footer p {
    padding: 36px 0;
    margin: 0; }

body {
  background: #e0e0e0 !important; }
  body .middle h1 {
    font-size: 45px;
    color: #0c2026;
    font-family: myFirstFont !important;
    margin: 25px 0;
    font-weight: 700; }
  body .middle .name-box {
    background: #ffffff;
    padding: 0 90px;
    border: 1px solid #bcbcbc;
    margin-bottom: 50px;
    box-shadow: 0 5px 13px #b0b0b0; }
    body .middle .name-box ul {
      padding: 0; }
      body .middle .name-box ul li {
        list-style: none;
        border-bottom: 1px solid #eaeaea;
        color: #333333;
        font-size: 25px;
        padding: 40px 0; }
        body .middle .name-box ul li a {
          color: #333;
          width: 100%;
          display: inline-block;
          padding: 40px 0;
          text-align: right !important; }
          body .middle .name-box ul li a:hover, body .middle .name-box ul li a:focus {
            text-decoration: none !important; }
      body .middle .name-box ul li:last-child {
        border: none !important; }

@font-face {
  font-family: myFirstFont;
  src: url(../fonts/LateefRegOT.ttf); }
.middle .qasida-box {
  background: url("../images/mosk-img.png") no-repeat;
  display: inline-block;
  width: 100%;
  background-color: #ffffff;
  padding: 20px 53px;
  background-position: center bottom;
  margin: 0 0 50px;
  border: 1px solid #a7a7a7;
  box-shadow: 0 2px 14px #a7a7a7; }
  .middle .qasida-box .left-border {
    border-right: 1px solid #e5e5e5; }
  .middle .qasida-box p {
    width: 290px;
    font-family: myFirstFont !important;
    margin: 0 auto;
    font-size: 32px; }

@media (min-width: 992px) and (max-width: 1199px) {
  .qasida-box {
    background-size: cover !important; }

  .naat-khuwan h1 {
    font-size: 60px !important; }
  .naat-khuwan .name-box {
    padding: 0 10px !important; }
    .naat-khuwan .name-box ul li {
      padding: 36px 7px !important; }
      .naat-khuwan .name-box ul li a {
        padding: 0 !important; }

  .left-border {
    border: none !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .qasida-box {
    background-size: cover !important; }

  .left-border {
    border: none !important; } }
@media (min-width: 320px) and (max-width: 767px) {
  h1 {
    font-size: 25px !important; }

  .qasida-box {
    background-size: cover;
    padding: 20px 10px !important; }
    .qasida-box .left-border {
      border: none !important; }
    .qasida-box p {
      font-size: 25px !important;
      width: 100% !important; }

  .name-box {
    padding: 0 10px !important; }
    .name-box ul li {
      padding: 36px 7px !important; }
      .name-box ul li a {
        padding: 0 !important; }

  .waves-effect {
    width: 100% !important; }

  .naat-boxes span {
    background-position: 0 -167px !important; } }

/*# sourceMappingURL=main.css.map */
